<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,700|Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div class="coc">
{% include "src/nunjucks/templates/header.njk" %}
{% include "src/nunjucks/content/main_content.njk" %}
</div>
  </body>
</html>
