<div class="content">
  <div class="test_course d-flex">
    <a href="#" class="button"><span>NEW COURSE</span></a>
    <h1>Testing Course</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Praesent iaculis odio nec ligula luctus, ac maximus nisi facilisis. </p>
    <a href="#" class="button2">SIGN UP</a>
    <a href="#" class="video_courses">100 Video Courses</a>
  </div>


  <div class="images">
    <div class="img1">
    </div>
    <div class="img2">
    </div>
    <div class="img3">
    </div>
  </div>
</div>
