<ul class="menu d-flex">
	<li class="menu_item"><a href="#">Sing Up</a></li>
	<li class="menu_item"><a href="#">About</a></li>
	<li class="menu_item"><a href="#">Currculum</a></li>
	<li class="menu_item"><a href="#">Contact</a></li>
</ul>
